
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;

}

.mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.imageSide{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    background-image: url('img/mayamain.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 30vw;
    justify-content: space-between;
}

.logoSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5em;
    background-color: rgba(0,0,0,0.4);
    margin-top: 8rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}




.imageFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    background-color: rgba(0,0,0,0.4);
    margin-top: 8rem;
    font-size: 1.75vw;
    color: white;
    font-weight: bold;
    text-shadow: 1px;

}


.contentSide{
    display: flex;
    height: inherit;
    flex-direction: column;
    flex: 2.5;
}

.header{
    background-color: rgb(240, 240, 240);
    width: inherit;
    padding-top: 2vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

.headerText,.headerInv{

    width: 70vw;
    font-size:calc(10px + 1vw);
    padding: 2vw;
    font-weight: bold;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 2;
}
/* Form */
fieldset{
    display: flex;
    flex-direction: row;
    border: 0;
    padding-left: 2vw;
    flex-wrap: wrap;
}

.inputs{
    display: flex;
    flex-direction: row;
    border: 0;
    padding-left: 2vw;
    flex-wrap: wrap;
}

legend{
    font-size: calc(10px + 1vw);
    padding: 1vh 0px;
    font-weight: bold;
}


.field{
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding:1vw;
}

label,input,text{
    font-size: calc(15px + 0.25vw);
}

label{
    padding: 1vh;
    font-weight: bold;
}

input{
 border-radius: 10px;
 width: 20vw;
}

.footer{
    flex: 1;
    background-color: rgb(240, 240, 240);
    width: inherit;
    height: 100%;
    padding: 2vw;
}

button{
    font-size: calc(5px + 1vw);
    padding: 0.5vw;
    border-radius: 10px;
    margin-bottom: 1vH;
}

.signInMessage{
    font-size: calc(8px + 1vw);
}

